---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "About Me";

const identity = {
  firstName: "Tal",
  country: "Canada",
  occupation: "Software Developer",
  hobbies: ["Reading", "Boxing", "Fighting Games", "Movies", "Ships", "DND" ],
  
};

const interests = ["UNDER NIGHT IN-BIRTH II [Sys:Celes]", "Malazan: Book of the Fallen", "Critical Role", "Black Sails"];

const happy = false;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .interest {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
      </style>
  </head>
  <body>
    <Header/>
    <header>
        <h1>
            {pageTitle}
        </h1>
    </header>
    <p>
        Howdy! I'm Tal, a recent college graduate who made the crazy decision to make his own blog. A very original tale.
    </p>

    <p> 
        Being more serious here, I am someone who tends to love stories. Much of my obsessions throughout my life have revolved around movies, games, books, and DND podcasts.
        In the back of my head I always loved the idea of being a writer, but growing up and being at least mildy okay at my coding classes I ended up taking computer science and found myself feeling very stuck. 
        I want to at least give writing a shot, and I think the easiest way to do that is through blogging! I'll see what I learn and am excited to share this journey with any readers this site may have :).
    </p>
    <p>My current interests are:</p>
    <ul>
        {interests.map((interest) => <li class = "interest">{interest}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    <Footer/>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>