---
const pageTitle = "About Me";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <header>
        <h3>
            {pageTitle}
        </h3>
    </header>
    <p>
        Howdy! I'm Tal, a recent college graduate who made the crazy decision to make his own blog. A very original tale.
    </p>

    <p> 
        Being more serious here, I am someone who tends to love stories. Much of my obsessions throughout my life have revolved around movies, games, books, and DND podcasts.
        In the back of my head I always loved the idea of being a writer, but growing up and being at least mildy okay at my coding classes I ended up taking computer science and found myself feeling very stuck. 
        I want to at least give writing a shot, and I think the easiest way to do that is through blogging! I'll see what I learn and am excited to share this journey with any readers this site may have :).
    </p>
  </body>
</html>